@tailwind base;
@tailwind components;
@tailwind utilities;

.midline{
    overflow: hidden;
    text-align: center;
}

.midline:before, .midline:after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}

.midline:before{
    right: 0.5em;
    margin-left: -50%;
}

.midline:after{
    left: 0.5em;
    margin-right: -50%;
}